.canvas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:16px
}
.btn-wrapper {
    display: flex;
    gap:8px;
    margin: 8px 0;
    width: 600px;
    flex-wrap: wrap;
}
.properties-wrapper {
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 600px;
    align-items: start;
}